<div class="container">
  <div class="row">
    <div class="col s12 m12  l6 xl6 ">
            <div class="col s12 z-depth-4 card-panel">
              <form class="login-form" >
                  <div class="row">
                      <div class="input-field col s12 center">
                        <h4>Editar</h4>
                      </div>
                    </div>
                    <div class="row margin">
                      <div class="input-field col s12">                      
                        <input #idItem id="idItem" type="text">
                        <label  for="idItem" class="center-align">Id</label>                              
                      </div>                   
                    </div>
                    <div class="row margin">
                      <div class="input-field col s12">                      
                        <input #titulo id="titulo" type="text">
                        <label for="titulo">Titulo</label>
                      </div>
                    </div>
                      <div class="row">
                              <div class="input-field col s12">
                                 <a  (click)="updateItem(idItem.value, titulo.value)" class="indigo darken-4 waves-effect waves-light btn col s12">Editar</a>
                              </div>
                            </div>
              </form>
              </div>    
            </div>  
            <div class="col s12 m12  l6 xl6">
              <app-view-todos></app-view-todos>
            </div> 
          </div>     
        </div>   