
<ul id='dropdown1' class='dropdown-content'>
  <li><a (click)="logOut()"><i class="material-icons">power_off</i>Log out</a></li>
</ul>

<div>
  <nav>
    <div [hidden]="!exist" class="nav-wrapper orange darken-3">
      <ul class="left">
        <li><a routerLink="/crear">Crear</a></li>
        <li><a routerLink="/editar">Editar</a></li>
        <li><a routerLink="/consultar">Consultar</a></li>
        <li><a routerLink="/eliminar">Eliminar</a></li>
      </ul>
      <ul class="right">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{user?.email}}<i
              class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    <div [hidden]="exist" class="nav-wrapper orange darken-3">
      <ul id="nav-mobile" class="left">
        <li>ToDo App</li>
      </ul>
    </div>
  </nav>
</div>
<div [hidden]="!exist" class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a routerLink="/crear" class="btn-floating pink"><i class="material-icons">library_add</i></a></li>
    <li><a routerLink="/editar" class="btn-floating yellow darken-1"><i class="material-icons">build</i></a></li>
    <li><a routerLink="/eliminar" class="btn-floating green"><i class="material-icons">delete</i></a></li>
    <li><a routerLink="/consultar" class="btn-floating blue"><i class="material-icons">search</i></a></li>
    <li><a (click)="logOut()" class="btn-floating red"><i class="material-icons">power_off</i></a></li>
  </ul>
</div>