<div class="container">
    <div class="row card-panel">
            <div class="row"><h6>Filtrar:</h6></div>
        <div class="row">
        <label class="col s6">id: <input #filtroId (input)="filtrarId(filtroId.value)" /></label>
        <label class="col s6">Titulo: <input #filtroTitulo (input)="filtrarTitulo(filtroTitulo.value)" /></label>
        </div>
    
    </div>
    <div class="row">
        <ul class="collection with-header">
            <li class="collection-header"><h4>ToDo List</h4></li>
            <li class="collection-item" *ngFor="let item of itemsCompleta | paginate: { itemsPerPage: 10, currentPage: p } ">
               {{item.id}} {{item.title}} 
            </li>
        </ul>
        <div class="center-align"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    
    </div>
    </div>