<div class="container">
<div class="row">
  <div class="col s12 m12  l6 xl6 offset-l3 offset-xl3">
          <div class="col s12 z-depth-4 card-panel">
            <form class="login-form" >
              <div class="row">
                <div class="input-field col s12 center">
                  <h4>Iniciar sesión</h4>
                </div>
              </div>
              <div class="row margin">
                <div class="input-field col s12">
                  <i class="material-icons mdi-social-person-outline prefix">account_circle</i>
                  <input #user id="username" type="text">
                  <label for="username" class="center-align">E-mail</label>
                </div>
               
              </div>
              <div class="row margin">
                <div class="input-field col s12">
                  <i class="material-icons mdi-action-lock-outline prefix">vpn_key</i>
                  <input #pass id="password" type="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                   <a  (click)="logIn(user.value, pass.value)" id="login-button" class="waves-effect waves-light btn col s12 indigo darken-4">Login</a>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <p class="margin medium-small"><a routerLink="/singup">Registrate!</a></p>
                </div>
              </div>
      
            </form>
          </div>    
        </div>  
      </div>     
    </div>   
