 /* label color */
 .input-field label {
    color: #9e9e9e;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #1a237e;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #1a237e;
  }